@attribute [Route(Paths.Profile_Settings)]
@attribute [Authorize]
@inherits BaseComponent
@layout MainLayout
<PageTitle>Account Settings</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn SizeSM="12" SizeXL="12" Size="11">
            <RadzenText Text="Account Settings" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn SizeSM=12 SizeXL="12" Size="11">
            <RadzenTabs SelectedIndex=@tabSelected Change=@OnChange>
                <Tabs>
                    <RadzenTabsItem Text="Profile">
                        <RadzenTemplateForm Method="post" Submit="@SaveUserProfile" TItem="AccountSettingsDTO" Data="@Settings">
                            <RadzenStack style="margin-bottom: 1rem;">
                                <RadzenFieldset Text="Role" Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenSelectBar @bind-Value=@value TValue="bool" Size="ButtonSize.Large" Style="padding:5px;">
                                            <Items>
                                                <RadzenSelectBarItem Icon="search" Text="Job Seeker" Value="true" />
                                                <RadzenSelectBarItem Icon="apartment" Text="Recruiter / Company" Value="false" />
                                            </Items>
                                        </RadzenSelectBar>
                                    </ChildContent>
                                </RadzenFieldset>

                                <RadzenFieldset Text="Contact Info">
                                    <RadzenStack Gap="1rem">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="First Name" Component="Name" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="Name" @bind-Value=@Settings.FirstName />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Last Name" Component="Name" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="Name" @bind-Value=@Settings.LastName />
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenStack>
                                </RadzenFieldset>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton ButtonType="ButtonType.Submit" IsBusy=@isBusy BusyText="Processing..." Text="Save" Variant="Variant.Flat" />
                            </RadzenStack>
                        </RadzenTemplateForm>

                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Preferences">
                        <RadzenTemplateForm Method="post" Submit="@SavePreferences" TItem="AccountSettingsDTO" Data="@Settings">
                            <RadzenStack style="margin-bottom: 1rem;">
                                <RadzenFieldset Text="Profile Preferences" Variant="Variant.Outlined">
                                    <RadzenStack Gap="1rem">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Profile Visibility" Component="ShowProfile" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown AllowClear=false TValue="string" @bind-Value=@DisplayPrivacyOptionSelected Data=@DisplayPrivacyOptions TextProperty="Value" ValueProperty="Key"></RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenStack>
                                    <RadzenStack Gap="1rem">
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Contact Information Visibility" Component="ShowContactInfo" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenDropDown AllowClear=false TValue="string" @bind-Value=@DisplayPrivacyOptionContactDetailsSelected Data=@DisplayPrivacyOptions TextProperty="Value" ValueProperty="Key"></RadzenDropDown>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenStack>

                                </RadzenFieldset>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton ButtonType="ButtonType.Submit" IsBusy=@isBusy BusyText="Processing..." Text="Save" Variant="Variant.Flat" />
                            </RadzenStack>
                        </RadzenTemplateForm>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Security">
                        Show table of users;

                        <RadzenButton Click="(()=>( ShowModalSavePassword()))" BusyText="Processing" Text="Update Password"></RadzenButton>
                        <RadzenStack>
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenText Text="Users" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6">
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                                        <RadzenButton Icon="add_circle_outline" Text="Add" Click="@AddClick" Variant="Variant.Flat" />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenColumn SizeMD="12">
                                    <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot delete user" Visible="@errorVisible">@error</RadzenAlert>
                                    <RadzenDataGrid AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30}) AllowSorting="true" Data="@users"
                                                    TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" RowSelect="@RowSelect">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" Property="InviteStatus" Title="Status" />
                                            <RadzenDataGridColumn TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" Property="InviteStatusStartDateTime" Title="Invitation Sent" />
                                            <RadzenDataGridColumn TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" Property="InviteStatusEndDateTime" Title="Invitation Accepted" />
@*                                             <RadzenDataGridColumn TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" Property="RolesAssigned" Title="Roles" />
 *@                                            <RadzenDataGridColumn TItem="MyVideoResume.Data.Models.Account.UserCompanyRoleAssociationEntity" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Visible=@(users.Any(x => x.InviteStatus != InviteStatus.Owner))>
                                                <Template Context="user">

                                                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" Size="ButtonSize.Small"
                                                                  Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => RowSelect(user))" @onclick:stopPropagation="true" />
                                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="visibility" Size="ButtonSize.Small"
                                                                  Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => ViewProfileDetails(user))" @onclick:stopPropagation="true" />
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small"
                                                                  Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => DeleteClick(user))" @onclick:stopPropagation="true" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Billing / Plan">

                        <RadzenTabs SelectedIndex="0">
                            <Tabs>
                                <RadzenTabsItem Text="Billing Address">
                                    <RadzenStack>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Country" Component="Country" />
                                            </RadzenColumn>
@*                                                             <RadzenColumn Size="12" SizeMD="8">
                                                                <RadzenDropDown @bind-Value="order.Country" Placeholder="USA" Data="@countries" Style="width: 100%;" TextProperty="Name" ValueProperty="Id" Name="Country">
                                                                </RadzenDropDown>
                                                            </RadzenColumn>
 *@                                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="City" Component="City" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="City" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Address Line 1" Component="Address1" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="Address1" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Address Line 2" Component="Address2" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="Address2" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="State / Province / Region" Component="State" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="State" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                        <RadzenRow AlignItems="AlignItems.Center">
                                            <RadzenColumn Size="12" SizeMD="4">
                                                <RadzenLabel Text="Zip / Postal Code" Component="Zip" />
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="8">
                                                <RadzenTextBox Style="width: 100%;" Name="Zip" />
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenStack>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Shipping Address">
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Payment Methods">
                                    <div id="card-element"></div>
                                    <div id="card-errors" role="alert"></div>
                                    <RadzenButton ButtonType="ButtonType.Submit" Text="Save Card" Click="@SaveCard" Id="submit-button" />
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>

                        Credit Card information
                        Billing Address
                        History of Transactions
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Company">
                        Profile Description
                        Vision
                        Description
                        Address @*
                        <RadzenTemplateForm Method="post" Submit="@FormSubmit" TItem="MyVideoResume.Data.Models.ApplicationUser" Data="@user"
                                            Visible="@(user != null)">
                            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible">@error</RadzenAlert>
                            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible">
                                Your password has been changed.
                            </RadzenAlert>

                            <RadzenStack style="margin-bottom: 1rem;">
                                <RadzenFormField Text="Old Password" Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenPassword @bind-Value="@oldPassword" style="display: block; width: 100%" Name="OldPassword" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="OldPassword" Text="Enter your current password" />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="New Password" Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenPassword @bind-Value="@newPassword" style="display: block; width: 100%" Name="NewPassword" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="NewPassword" Text="Enter your new password" />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Confirm Password" Variant="Variant.Outlined">
                                    <ChildContent>
                                        <RadzenPassword @bind-Value="@confirmPassword" style="display: block; width: 100%" Name="ConfirmPassword" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirm your new password" />
                                        <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@newPassword" />
                                    </Helper>
                                </RadzenFormField>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton ButtonType="ButtonType.Submit" Text="Change password" Variant="Variant.Flat" />
                            </RadzenStack>
                        </RadzenTemplateForm>
                        *@
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

@code {

    private async Task ShowModalSavePassword()
    {
        var result = await DialogService.OpenAsync("Update Password", ds =>
    @<RadzenTemplateForm Method="post" Submit="@SaveSecurity" TItem="MyVideoResume.Abstractions.Account.AccountSettingsDTO" Data="@Settings"
                             Visible="@(Settings != null)">
        <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible">@error</RadzenAlert>
        <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible">Your password has been changed.</RadzenAlert>
        <RadzenStack style="margin-bottom: 1rem;">
            <RadzenFormField Text="Old Password" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenPassword @bind-Value="@oldPassword" style="display: block; width: 100%" Name="OldPassword" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="OldPassword" Text="Enter your current password" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="New Password" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenPassword @bind-Value="@newPassword" style="display: block; width: 100%" Name="NewPassword" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="NewPassword" Text="Enter your new password" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Confirm Password" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenPassword @bind-Value="@confirmPassword" style="display: block; width: 100%" Name="ConfirmPassword" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirm your new password" />
                    <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@newPassword" />
                </Helper>
            </RadzenFormField>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Change password" Variant="Variant.Flat" />
        </RadzenStack>
    </RadzenTemplateForm>    );
    }

    private async Task SaveCard()
    {
        // Implement card saving logic here
        // This will involve interacting with Stripe.js
        // For now, we can leave this as a placeholder
        await JSRuntime.InvokeVoidAsync("console.log", "Save Card button clicked");
    }
}